*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  max-width: 420px;
  width: 100%;
  flex-direction: column;
  padding: 12px;
  margin: 0 auto;
  position: relative;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.App h1{
  font-size: 1.5rem;
  margin-bottom: 16px;
}

a{
  color:inherit;
  text-decoration: none;
}
.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap:24px;
}
.card{
  width: 100%;
  display: flex;
  gap:12px;
}
.poster{
  width: 100%;
  max-width: 120px;
  height: 100px;
  border-radius: 24px;
  overflow: clip;
}

.poster img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content{
  display: flex;
  flex-direction: column;
  gap:12px;
}

.titles{
  display: flex;
  flex-direction: column;
  gap:6px;
}

.title{
  font-size: 1.2rem;
  width: calc(420px - 196px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2rem;
}

.sub_title{
  font-size: 1rem;
  line-height: 1rem;
  opacity: 0.8;
}
.buttons{
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-weight: 600;

  margin-top: auto;
  gap:12px;
}
.buttons div{
  padding:8px 16px;
  border-radius: 12px;
  color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  width: 100%;
  font-size: 0.8rem;
}

.summaryBtn{
  background: #35434b;

}

/* Модалки */

.modalContainer{
  width: 100%;
  height: 99vh;
  position: fixed;
  top:1vh;
  left: 0;
  transform: translateY(120%);
  transition: transform 0.5s, opacity 0.3s;
  z-index: 100;

}
.modalFade{
  width: 100%;
  height: 100vh;
  position: fixed;
  top:0;
  left: 0;
  opacity: 0;
  background: #35434ba6;
  transition: opacity 0.2s;
  z-index: -99;
  backdrop-filter: blur(10px);
}

.modalFade--fade-in{
  opacity: 1;
  z-index: 99;
}

.modalContainer--open{
  opacity: 1;
  transform: translateY(0);
}

.modalHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  position: sticky;
  top:0;
  background:#fff;
  padding: 16px;
  z-index: 10;
}

.modalContent{
  padding: 0 16px;
  padding-bottom: 50px;
}

.toggler{
  display: flex;
  gap: 16px;
  cursor: pointer;
  height: 34px;
}

.toggler div{
  font-weight: 600;
  opacity: 0.6;
  transform: scale(1);
  transition: opacity 0.3s, transform 0.3s;
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 0.8rem;
 border-radius: 12px;
 padding: 0 12px;
 line-height:0.6rem;
}

.toggleItem--active{
  opacity: 1 !important;
  transform: scale(1.1) !important;
  background: #35434b;
  color:#fff;
}

.timecodesContainer{
  display: flex;
  max-width: 420px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  height: 100vh;
  border-radius: 16px 16px 0 0;
  background: #fff;
  overflow-y: auto;
}

.modalClose{
    color:#35434b !important;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 6px;
  width: fit-content;
}

.modalClose:active,.modalClose:hover{
  background: #0000001c;
}

.modalTitle{
  font-size:1rem;
  margin-bottom: 8px;
}

.modalSubTitle{
  font-size: 1rem;
  opacity: 0.6;
  margin-bottom: 16px;
}

.timecodesList{
  display: flex;
  flex-direction: column;
  gap:16px;

}

.timecodesItem{
  font-size: 1rem;
}
.timecodeTime{
  font-weight: 600;
  color:#2da7ff
}

.summaryList{
  display: flex;
  flex-direction: column;
  gap:16px;
}

.summaryItem{
  font-size: 1rem;
}
.summaryTime{
  font-weight: 600;
  color:#2da7ff
}

.summaryHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blocker{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.blocker div{
  font-size: 2rem;
  opacity: 0.2;
  font-weight: 600;
}


.summaryBtnAccodrdion{
  width: 16px;
  height: 16px;
  position: relative;
  background: #f5f5f5;
  cursor: pointer;
  border-radius: 2px;
}

.summaryBtnAccodrdion div{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 2px;
  background: #35434b;
  transition: transform 0.4s;
}

.summaryBtnAccodrdion .rotated{
  transform: translate(-50%, -50%) rotate(450deg);
}
.summaryTheses{
  transition: height 0.3s;
  overflow: hidden;
}

.zeroHeight{
  height: 0;
}