*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  max-width: 420px;
  width: 100%;
  flex-direction: column;
  padding: 12px;
  margin: 0 auto;
  position: relative;
  height: 100vh;
}
.App h1{
  font-size: 1.5rem;
  margin-bottom: 16px;
}

a{
  color:inherit;
  text-decoration: none;
}
.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
width: 100%;
 
}
.card{
  width: 100%;
  display: flex;
  gap:12px;
}
.poster{
  width: 100%;
  max-width: 160px;
  height: 150px;
  border-radius: 24px;
  overflow: clip;
}

.poster img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content{
  display: flex;
  flex-direction: column;
  padding: 16px 0;
}

.titles{
  display: flex;
  flex-direction: column;
  gap:6px;
}

.title{
  font-size: 1.2rem;
  width: calc(420px - 196px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2rem;
}

.sub_title{
  font-size: 1rem;
  line-height: 1rem;
  opacity: 0.8;
}
.buttons{
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-weight: 600;
  font-size: 0.6rem;
  margin-top: auto;
  gap:12px;
}
.buttons div{
  padding:8px 16px;
  border-radius: 12px;
  color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
}
.timecodesBtn{
  background: #1b85db;
 
}
.summaryBtn{
  background: #35434b;
}

/* Модалки */

.modalContainer{
  width: 100%;
  height: 100vh;
  position: fixed;
  top:0;
  left: 0;
  transform: translateY(120%);
 
  transition: transform 0.3s, opacity 0.3s;
  z-index: 100;


}
.modalContainer--open{
  opacity: 1;
  transform: translateY(0);
}
.timecodesContainer{
  display: flex;
  max-width: 420px;
  width: 100%;
  flex-direction: column;
  padding: 12px;
  margin: 0 auto;
  position: relative;
  height: 100vh;
  border-radius: 16px 16px 0 0;
  background: #fff;
  box-shadow: 0 0 10px #00000038;
}